.bar {
    position: absolute;
    width: 8px;
    border-radius: 20px;
    background: linear-gradient(180deg, #f0f, #0ff);
    opacity: 0.6;
    filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.4));
}

.short {
    height: 30px;
}

.medium {
    height: 60px;
}

.tall {
    height: 100px;
}